<?xml version="1.0" encoding="utf-8"?>
<settings>
  <autoload>
    <addon>plugin_manager</addon>
    <addon>battlemod</addon>
    <plugin>Config</plugin>
    <plugin>DelayMeNot</plugin>
    <plugin>FFXIDB</plugin>
    <plugin>JaZero</plugin>
    <plugin>LightLuggage</plugin>
    <plugin>Sandbox</plugin>
    <plugin>Timers</plugin>
  </autoload>
  <profile name="Enuri">
    <consolekey>Insert</consolekey>
    <uiscale>1</uiscale>
    <hardwaremouse>false</hardwaremouse>
    <alwaysenablegamepad>false</alwaysenablegamepad>
    <allowwinkey>true</allowwinkey>
  </profile>
  <profile name="Enurihel">
    <consolekey>Insert</consolekey>
    <uiscale>1</uiscale>
    <hardwaremouse>false</hardwaremouse>
    <alwaysenablegamepad>false</alwaysenablegamepad>
    <allowwinkey>true</allowwinkey>
  </profile>
</settings>